<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byType">


    <bean id="sysLogDao" class="com.lvmama.dao.SysLogDao"/>
    <bean id="sysLogService" class="com.lvmama.service.impl.SysLogServiceImpl">
        <!--<property name="sysLogDao" ref="sysLogDao"/>
          上面配置了default-autowire="byName"（使用spring-autowiring） 就不用再去配置property属性-->
    </bean>


</beans>
