<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- 要调用的工作类 -->
    <bean id="quartzTest" class="com.lvmama.job.QuartzTest"/>

    <bean id="quartzTestFactory"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="quartzTest"/>
        </property>
        <property name="targetMethod">
            <value>run</value>
        </property>
        <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <bean id="quartzTestTimes" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="quartzTestFactory"/>
        </property>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>


</beans>