<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        <context:annotation-config> 是用于激活那些已经在spring容器里注册过的bean(无论是通过xml的方式还是通过package scanning的方式)上面的注解,
        是一个注解处理工具。

        <context:component-scan>除了具有<context:annotation-config>的功能之外,<context:component-scan>
        还可以在指定的package下扫描以及注册javabean .
    -->

    <context:component-scan base-package="com.spring.annotation"></context:component-scan>

    <context:annotation-config></context:annotation-config>

</beans>
